---
title: ข่าวสาร การลงทุน รายสัปดาห์
layout: base
description: สรุป ความเคลื่อนไหว ทางเศรษฐกิจ และ การลงทุน รอบโลก ในรอบสัปดาห์
category: weekly
canonical_url: /weekly/
---

<!--- Jumbotron -->
<div class="container">
    <div class="row jumbotron text-center d-flex align-items-center">
        <!-- specify grid columns to occupy at different media's sizes, adding col-x with no size will act as default -->
        <div class="col-12">
            <p class="lead">
                ข้อมูลข่าวสารการลงทุนรายสัปดาห์. <br>
                สรุปประเด็นน่าสนใจ มุมมองนักลงทุน และข้อควรระวัง. <br>
                รวมถึงประกาศอื่นๆ เพื่อสิทธิประโยชน์ ของนักลงทุน.
            </p>
            <p class="lead">
                ร่วมแบ่งปันความรู้ ให้คนที่คุณห่วงใย 
                <span class="fb-share-button ml-1" data-href="{{ page.canonical_url | prepend: site.base_canonical }}" data-layout="button"
                    data-size="large"><a target="_blank"
                        href="{{ page.canonical_url | prepend: site.base_canonical }}"
                        class="fb-xfbml-parse-ignore">Share</a></span>
            </p>
        </div>
    </div>
</div>

<!-- main container -->
<div class="container">
    <div class="row">
        <div class="col-12 accordion px-0" id="weeklyAccordion">
            
            
            <small class="text-muted">Click เพื่อซ่อน/แสดง</small>
            <!-- 2021Q3 quarter -->
            <div class="card">
                <div class="card-header" id="headingY2021Q3">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Y2021Q3"
                            aria-expanded="true" aria-controls="Y2021Q3">
                            2021-Q3
                        </button>
                    </h2>
                </div>
                <div id="Y2021Q3" class="collapse show" aria-labelledby="headingY2021Q3" data-parent="#weeklyAccordion">
                    <div class="card-body">

                        <!-- weekly summary -->
                        <h5 class="text-success py-2">ประเด็นการลงทุนรายสัปดาห์</h5>
                        {% for post in site.tags.Y2021Q3 %}
                            {% if post.tag contains "summary" %}
                                <li class="list-group-item">
                                    {% capture title_full %}{{ post.title }}{% endcapture %}
                                    {% assign title_lines = title_full | split: ", " %}
                                    {{ post.date | date_to_string }} <i class="fas fa-angle-double-right"></i>
                                    สรุป{{ title_lines[1] }} --
                                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                                        link <i class="far fa-file-alt"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- others -->
                        <h5 class="text-success py-2 mt-4">ประกาศอื่นๆ</h5>
                        <li class="list-group-item">ยังไม่มีประกาศอื่น</li>
                        <!-- {% for post in site.tags.Y2021Q3 %}
                            {% if post.tag contains "announcement" %}
                                <li class="list-group-item">
                                    {% capture title_full %}{{ post.title }}{% endcapture %}
                                    {{ post.date | date_to_string }} <i class="fas fa-angle-double-right"></i>
                                    {{ title_full }} --
                                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                                        link <i class="far fa-file-alt"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %} -->
                        
                    </div>
                </div>
            </div>


            <!-- 2021Q2 quarter -->
            <div class="card">
                <div class="card-header" id="headingY2021Q2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Y2021Q2"
                            aria-expanded="true" aria-controls="Y2021Q2">
                            2021-Q2
                        </button>
                    </h2>
                </div>
                <div id="Y2021Q2" class="collapse" aria-labelledby="headingY2021Q2" data-parent="#weeklyAccordion">
                    <div class="card-body">

                        <!-- weekly summary -->
                        <h5 class="text-success py-2">ประเด็นการลงทุนรายสัปดาห์</h5>
                        {% for post in site.tags.Y2021Q2 %}
                            {% if post.tag contains "summary" %}
                                <li class="list-group-item">
                                    {% capture title_full %}{{ post.title }}{% endcapture %}
                                    {% assign title_lines = title_full | split: ", " %}
                                    {{ post.date | date_to_string }} <i class="fas fa-angle-double-right"></i>
                                    สรุป{{ title_lines[1] }} --
                                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                                        link <i class="far fa-file-alt"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- others -->
                        <h5 class="text-success py-2 mt-4">ประกาศอื่นๆ</h5>
                        <!-- <li class="list-group-item">ยังไม่มีประกาศอื่น</li> -->
                        {% for post in site.tags.Y2021Q2 %}
                            {% if post.tag contains "announcement" %}
                                <li class="list-group-item">
                                    {% capture title_full %}{{ post.title }}{% endcapture %}
                                    {{ post.date | date_to_string }} <i class="fas fa-angle-double-right"></i>
                                    {{ title_full }} --
                                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                                        link <i class="far fa-file-alt"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>


            <!-- 2021Q1 quarter -->
            <div class="card">
                <div class="card-header" id="headingY2021Q1">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#Y2021Q1" aria-expanded="false" aria-controls="Y2021Q1">
                            2021-Q1
                        </button>
                    </h2>
                </div>
                <div id="Y2021Q1" class="collapse" aria-labelledby="headingY2021Q1" data-parent="#weeklyAccordion">
                    <div class="card-body">
                        <!-- weekly summary -->
                        <h5 class="text-success py-2">ประเด็นการลงทุนรายสัปดาห์</h5>
                        {% for post in site.tags.Y2021Q1 %}
                            {% if post.tag contains "summary" %}
                                <li class="list-group-item">
                                    {% capture title_full %}{{ post.title }}{% endcapture %}
                                    {% assign title_lines = title_full | split: ", " %}
                                    {{ post.date | date_to_string }} <i class="fas fa-angle-double-right"></i>
                                    สรุป{{ title_lines[1] }} --
                                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                                        link <i class="far fa-file-alt"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- others -->
                        <h5 class="text-success py-2 mt-4">ประกาศอื่นๆ</h5>
                        {% for post in site.tags.Y2021Q1 %}
                            {% if post.tag contains "announcement" %}
                                <li class="list-group-item">
                                    {% capture title_full %}{{ post.title }}{% endcapture %}
                                    {{ post.date | date_to_string }} <i class="fas fa-angle-double-right"></i>
                                    {{ title_full }} --
                                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                                        link <i class="far fa-file-alt"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- back to home -->
<div class="container align-items-center">
    <p class="text-center mt-4">
        <a href="{{ site.baseurl }}/" class="btn btn-secondary btn-lg">BACK TO HOME</a>
    </p>
</div>
