<!-- Footer -->
<footer class="blog-footer">

    <div class="col-12 py-2">
        <!-- <hr> -->
        <h3 class="my-0">Connect</h3> 
        <!-- <hr> -->
    </div>

    <div class="container py-0">
        <div class="row text-center py-0">
            <div class="col-md-3 footer-social">
                <a href="#" class="btn btn-light btn-lg my-1 text-muted"><i class="fab fa-github mr-2"></i> GitHub</a>
            </div>
            <div class="col-md-3 footer-social">   
                <a href="#" class="btn btn-light btn-lg my-1 text-muted"><i class="fab fa-linkedin mr-2"></i> LinkedIn</a>
            </div>
            <div class="col-md-3 footer-social">
                <a href="#" class="btn btn-light btn-lg my-1 text-muted"><i class="fa fa-envelope mr-2"></i> Email</a>
            </div>
            <div class="col-md-3 footer-social">
                <a href="#" class="btn btn-light btn-lg my-1 text-muted"><i class="fa fa-file mr-2"></i> CV</a>
            </div>
        </div>
    </div>

    <div class="col-12 pt-0">
        <hr>
        <h4>&copy; clumdee.github.io</h4>

        <p>
        <a href="#" class="btn btn-outline-secondary btn-sm my-2">Back to top</a>
        </p>
    </div>

</footer>