<!-- Footer -->
<footer class="blog-footer bg-light text-dark">

    <div class="container py-0">
        <div class="row px-0">

            <!-- site label -->
            <div class="col-4 px-0 my-auto text-left ">
                <p>&copy; {{ site.name }}</p>
            </div>

            <!-- channels -->
            <div class="col-8 px-0 text-right">
                <!-- <a class="mx-2" href="{{ site.social.line }}">
                    <i class="fab fa-line fa-3x" style="color:#00B900;"></i>
                </a> -->
                <a class="mx-2" href="{{ site.social.facebook }}">
                    <i class="fab fa-facebook fa-3x" style="color:#3b5998;"></i>
                </a>
                <a class="mx-2" href="{{ site.social.github }}">
                    <i class="fab fa-github fa-3x" style="color:#000;"></i>  
                </a>
            </div>
        </div>
    
</footer>