<!-- Footer -->
<footer class="blog-footer bg-light text-dark">

    <div class="container py-0">
        <div class="row px-0">

            <!-- site label -->
            <div class="col-10 px-0 my-auto text-left">
                <p>
                    &copy; {{ site.name }}
                    <span class="fb-like ml-1" data-href="{{ site.social.facebook }}" data-width="" data-lazy="true"
                        data-layout="button" data-action="like" data-size="small" data-share="false"></span>
                </p>
            </div>

            <!-- channels -->
            <div class="col-2 px-0 text-right">
                <a class="mx-2" href="{{ site.social.facebook }}">
                    <i class="fab fa-facebook fa-3x" style="color:#3b5998;"></i>
                </a>
            </div>
        </div>

</footer>