<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }} - {{ site.suffix }}</title>

	<meta name="description" content="{{ page.description }}">

	<!-- if redirect -->
	{% if page.redirect_url %}
		<meta http-equiv="refresh" content="0; url={{ page.redirect_url | prepend: site.base_canonical }}">
	{% endif %}

	<!-- add canonical -->
	<link rel="canonical" href="{{ page.canonical_url | prepend: site.base_canonical }}">

	<!-- language tags -->
	{% if page.url_th %}
		<link rel="alternate" hreflang="th" href="{{ page.url_th | prepend: site.base_canonical }}" />
	{% endif %}
	{% if page.url_en %}
		<link rel="alternate" hreflang="en" href="{{ page.url_en | prepend: site.base_canonical }}" />
	{% endif %}
	{% if page.url_x-default %}
		<link rel="alternate" hreflang="x-default" href="{{ page.url_x-default | prepend: site.base_canonical }}" />
	{% endif %}

	<!-- open graph protocol -->
	<meta property="og:url" content="{{ page.canonical_url | prepend: site.base_canonical }}" />
	<meta property="og:type" content="{{ layout.og_type }}" />
	<meta property="og:title" content="{{ page.title }} - {{ site.suffix }}" />
	<meta property="og:description" content="{{ page.description }}" />
	{% if layout.og_type == "article" %}
		<meta property="og:image" content="{{ "/static/img/placeholder_article.png" | prepend: site.baseurl }}" />
	{% else %}
		<meta property="og:image" content="{{ site.baseurl }}{{ 'cover.png' | prepend: page.canonical_url }}" />
	{% endif %}
	

	<!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/static/img/favicon.ico" | prepend: site.baseurl }}">
	
	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
		rel="preload"
		href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"    
        as="style"
		crossorigin
    >
    <link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
    >
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics }}');   
	</script>

	<!-- Google AdSense -->
	<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1469161366135496" crossorigin="anonymous"></script> -->
</head>