<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }}, {{ page.title }}</title>

	<meta name="description" content="{{ page.description }}">

	<!-- add canonical -->
	<link rel="canonical" href="{{ page.canonical_url | prepend: site.base_canonical }}">
	
	<!-- Examples of title and description for SEO -->
	<!-- <title>FINNOMENA - ซื้อขายกองทุนรวม พร้อมแหล่งความรู้การลงทุน</title> -->
	<!-- <title>Investor Base ความรู้ลงทุนระดับ World-Class ส่งตรงถึงคนไทย | FINNOMENA Franklin Templeton - FINNOMENA</title> -->

	<!-- <meta data-react-helmet="true" name="description" content="ค้นหาร้านอาหาร เมนูอาหาร สูตรอาหารและวิธีทำ โรงแรม ที่พัก สถานที่ท่องเที่ยว ร้านเสริมสวย สปา พร้อมที่อยู่ เบอร์โทรศัพท์ รูปภาพ ราคา ส่วนลด และรีวิวจากผู้ใช้งานจริง ใน กรุงเทพและปริมณฑล - Wongnai"> -->
	<!-- <meta name="description" content="ลงทุนกองทุนรวมผ่าน FINNOMENA สะดวกครบจบในที่เดียว พร้อมแหล่งรวมข้อมูลกองทุนรวมที่ดีที่สุด ด้วยคำแนะนำจากกูรูชั้นนำระดับประเทศ"> -->
	<!-- <meta name="description" content="อ่านกระทู้และร่วมพูดคุยเกี่ยวกับ หุ้น เศรษฐกิจ การลงทุน LTF RMF ธนาคาร เงินตราต่างประเทศ"> -->
	<!-- <meta name="description" content="หลายคนเชื่อว่าการ DCA เป็นการออมที่จะช่วยให้เราเป็นอิสระทางการเงิน โดยไม่จำเป็นต้องมีความรู้ด้านการลงทุน ซึ่งเป็นความเชื่อที่น่ากลัวมาก มาดูกันว่าทำไม?"> -->

	<!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/static/img/favicon.ico" | prepend: site.baseurl }}">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics }}');   
	</script>

	<!-- Not an ideal way to specify content-language but leave it for now -->
	<meta http-equiv="content-language" content="th, en">
</head>