<!-- Navigation -->
<nav class="container navbar navbar-expand-md navbar-light bg-white xsticky-top border-bottom">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><h4>{{ site.title }}</h4></a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <!-- set .active using JS by matching {{ site.category }} -->
            <!-- <li class="nav-item active"><a class="nav-link mx-0" href="{{ site.baseurl }}/">Home</a></li> -->
            <li class="nav-item"><a class="nav-link mx-0" href="{{ site.baseurl }}/">Home</a></li>
            <li class="nav-item"><a class="nav-link px-0" href="{{ site.baseurl }}/tools/">Planning Tools</a></li>
            <li class="nav-item"><a class="nav-link px-0" href="{{ site.baseurl }}/newsletter/">Newsletter</a></li>
            <li class="nav-item"><a class="nav-link px-0" href="{{ site.baseurl }}/noti/">Notification</a></li>
            <li class="nav-item"><a class="nav-link px-0" href="{{ site.baseurl }}/about/">About</a></li>
        </ul>
    </div>  
</nav>