<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- Load Fontawesome kit code, hacky way to bypass pageview limit, sorry will pay when start to monetize -->
<script>
    let kits = [
        "c94fe05323",
        "c195c05113",
        "372888660e"
    ]
    let kit = kits[Math.floor(Math.random() * kits.length)];

    let scriptFas = document.createElement("script")
    scriptFas.setAttribute("src", "https://kit.fontawesome.com/" + kit + ".js")
    scriptFas.setAttribute("crossorigin", "anonymous")
    document.body.appendChild(scriptFas)
</script>

<!-- Set .active to .nav-item -->
<script>
    // get all .nav-item
    let navItems = Array.from(document.querySelectorAll(".nav-item"))
    // loop .nav-item -- set .active if it is in use
    for (let item of navItems) {
        // check if {{ page.category }} === last word of item's text in lowercase format
        if ("{{ page.category }}" === item.innerText.split(/[\s,]+/).pop().toLowerCase()) {
            item.classList.add("active")
            break
        }
    }
</script>

{% if page.layout == "tool" %}
    <script>
        let parentElement = document.getElementById("example-tools")

        let content
        if ("{{ page.lang_tag }}" === "en") {
            content = `
                <hr>
                <p class="lead text-muted text-center mt-4">
                    Our toolkit (translation in progress)
                </p>
                <p class="text-center">
                    <a href="{{ site.baseurl }}/tools/" class="btn btn-info btn-lg my-1">ALL TOOLS</a>
                    <a href="{{ site.baseurl }}/tools/retirement-plan/" class="btn btn-info btn-lg my-1">Retirement plan</a>
                    <a href="{{ site.baseurl }}/tools/dca/" class="btn btn-info btn-lg my-1">DCA calculator</a>
                    <a href="{{ site.baseurl }}/tools/compound-interest/" class="btn btn-info btn-lg my-1">Compound interest</a>
                    <a href="{{ site.baseurl }}/tools/loan-calculator-effective/" class="btn btn-info btn-lg my-1">Loan calculator</a>
                    <a href="{{ site.baseurl }}/tools/loan-calculator-flat/" class="btn btn-info btn-lg my-1">Loan cauculator flat-rate</a>
                </p>
            `
        } else {
            content = `
                <hr>
                <p class="lead text-muted text-center mt-4">
                    เครื่องมืออื่นๆ ของเรา
                </p>
                <p class="text-center">
                    <a href="{{ site.baseurl }}/tools/" class="btn btn-info btn-lg my-1">ALL TOOLS</a>
                    <a href="{{ site.baseurl }}/tools/retirement-plan/" class="btn btn-info btn-lg my-1">วางแผนเกษียณ</a>
                    <a href="{{ site.baseurl }}/tools/dca/" class="btn btn-info btn-lg my-1">คำนวณ DCA</a>
                    <a href="{{ site.baseurl }}/tools/loan-calculator-effective/" class="btn btn-info btn-lg my-1">สินเชื่อ ลดต้นลดดอก</a>
                    <a href="{{ site.baseurl }}/tools/loan-calculator-flat/" class="btn btn-info btn-lg my-1">สินเชื่อ ดอกเบี้ยคงที่</a>
                    <a href="{{ site.baseurl }}/tools/compound-interest/" class="btn btn-info btn-lg my-1">ดอกเบี้ยทบต้น</a>
                </p>
            `
        }

        parentElement.innerHTML = content

    </script>
{% endif %}

<!-- facebook JS SDK -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=1799520157016047&autoLogAppEvents=1"
    nonce="4m00yria"></script>
