<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- Fontawesome kit code -->
<script src="https://kit.fontawesome.com/c94fe05323.js" crossorigin="anonymous"></script>

<!-- Update nav -->
<script>
    // get nav-item and url
    let navItems = Array.from(document.querySelectorAll(".nav-item"))
    let url = window.location.href
    // loop nav-item except Home -- set active if it is in use, remove active from Home
    for (let item of navItems.slice(1)) {
        console.log(item.innerText)
        if (url.includes(item.innerText)) {
            item.classList.add("active")
            navItems[0].classList.remove("active")
            break
        }
    }
</script>