---
layout: base
---

<!--- Jumbotron -->
<div class="container">
    <div class="row jumbotron text-center d-flex align-items-center">
        <!-- specify grid columns to occupy at different media's sizes, adding col-x with no size will act as default -->
        <div class="col-12">
            <p class="lead">
                บันทึกการลงทุน. <br>
                เพื่อเรียนรู้ เหตุผล อารมณ์ และผลลัพธ์ เพื่อพัฒนาทักษะให้ดียิ่งขึ้น.
            </p>
            <p class="lead">
                ร่วมแบ่งปันความรู้ ให้คนที่คุณห่วงใย 
                <span class="fb-share-button ml-1" data-href="{{ page.canonical_url | prepend: site.base_canonical }}" data-layout="button"
                    data-size="large"><a target="_blank"
                        href="{{ page.canonical_url | prepend: site.base_canonical }}"
                        class="fb-xfbml-parse-ignore">Share</a></span>
            </p>
        </div>
    </div>
</div>

<!-- main container -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {{ content }}
        </div>
    </div>
</div>


<!-- back to home -->
<div class="container align-items-center">
    <p class="text-center mt-4">
        <a href="{{ site.baseurl }}/" class="btn btn-secondary btn-lg">BACK TO HOME</a>
    </p>
</div>